.padding-0 {
    padding: 0;
}

body {
  overflow-x: hidden;

}



.bg {
  background-image: url("designer-wooden-workspace-picjumbo-com.jpg");
  filter: brightness(0.6);
  height: 100vh;
  background-size: cover;
  width: 100%;

}

/*img {
  overflow: hidden;
  filter: brightness(0.6);
  min-height: 100%;
  min-width: 1024px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
*/

img {
  filter: brightness(0.7);
  height: 100vh;
  width: 100%;
}

.heroh1 {
  color: #ffffff;
  position: relative;
  top: -10em;
  left: 10%;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.p {
  position: relative;
  top: -20em;
  left: 10%;
  color: #fff;
}

.head-btn {
  position: relative;
  top: -18em;
  left: 10%;
  width: 150px;
  margin-right: 10px;
}

.nav-item {
  color: white;
  filter: brightness(1);
}

.nav-link {
  color: white;
  filter: brightness(1);

}

ul {
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  filter: brightness(5);
  position: relative;
  z-index: 999;
}

.wrapper {
  height: 70%;
}

.body_container {
  margin-bottom: 10%;
  display: inline-block;
  text-align: center;
  width: 100%;
  /*height: 100vh;*/
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: red;
  display: inline-block;
  background: url(images/laimis.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%);
  margin-bottom: 40px;
}

.body_h1 {
  margin-bottom: 20px;
}

.body_container2 {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: #eee;
  text-align: center;
  padding-bottom: 10%;
}

.portfolio_h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 114px;
  filter: opacity(20%);
  position: relative;
  top: 5%;
  left: 4%;
  text-align: left;

}

.portfolio_img {
  width: 95%;
  display: inline-block;
  height: auto;
  filter: brightness(1);
  margin-bottom: 4px;
}

.body_container3 {
  height: 700px;
  background: #333;
  display: inline-block;
  text-align: center;
  width: 100%;
  /*padding-top: 10%;*/
}

label {
  color: white;
  display: inline-block;
  float: left;
}

.contact_cta {
  background: #5cb85c;
  color: white;
  width: 150px;
  float: left;
}

form {
  width: 50%;
  display: inline-block;

}

.your_message {
  height: 140px;
}

.contact_h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 114px;
  filter: opacity(70%);
  position: relative;
  right: 5%;
  top: -70px;
  text-align: right;
  color: white;
  margin-bottom: 40px;
}

.footer {
  height: 200px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.social_media_icon {
  width: 4%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  width: 2.5%;
  height: auto;
  filter: brightness(1);
  position: absolute;
  top: 0;
  left: 3%;
  float: left;
  z-index: 9999;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
