.padding-0 {
    padding: 0;
}

body {
  overflow-x: hidden;

}



.bg {
  background-image: url("designer-wooden-workspace-picjumbo-com.jpg");
  filter: brightness(0.6);
  height: 100vh;
  background-size: cover;
  width: 100%;

}

/*img {
  overflow: hidden;
  filter: brightness(0.6);
  min-height: 100%;
  min-width: 1024px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
*/

img {
  filter: brightness(0.7);
  height: 100vh;
  width: 100%;
}

.heroh1 {
  color: #ffffff;
  position: relative;
  top: -10em;
  left: 10%;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}

.p {
  position: relative;
  top: -20em;
  left: 10%;
  color: #fff;
}

.head-btn {
  position: relative;
  top: -18em;
  left: 10%;
  width: 150px;
  margin-right: 10px;
}

.nav-item {
  color: white;
  filter: brightness(1);
}

.nav-link {
  color: white;
  filter: brightness(1);

}

ul {
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  filter: brightness(5);
  position: relative;
  z-index: 999;
}

.wrapper {
  height: 70%;
}

.body_container {
  margin-bottom: 10%;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
  /*height: 100vh;*/
}

.body_container.fade-in {
  opacity: 100;
    transform: translateY(0);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: red;
  display: inline-block;
  background: url(images/laimis.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%);
  margin-bottom: 40px;
}

.body_h1 {
  margin-bottom: 20px;
}

.body_container2 {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: #eee;
  text-align: center;
  padding-bottom: 10%;
}

.portfolio_h1 {
  font-family: 'PT Sans', sans-serif;
  /*font-size: 114px;*/
  filter: opacity(20%);
  position: relative;
  top: 5%;
  left: 4%;
  text-align: left;

}

.portfolio_img {
  width: 95%;
  display: inline-block;
  height: auto;
  filter: brightness(1);
  margin-bottom: 4px;
}

.body_container3 {
  height: 700px;
  background: #333;
  display: inline-block;
  text-align: center;
  width: 100%;
  /*padding-top: 10%;*/
}


/*
form {
  width: 50%;
  display: inline-block;

}

.your_message {
  height: 140px;
}

.contact_h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 114px;
  filter: opacity(70%);
  position: relative;
  right: 5%;
  top: -70px;
  text-align: right;
  color: white;
  margin-bottom: 40px;
}
*/

.contact h1 {
  text-align: center;
  font-size: 30px;
  padding: 60px 0 60px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

.contact_cta {
  background: #5cb85c;
  color: white;
  width: 150px;
  float: left;
  margin-top: 15px;
}

form textarea {
  resize: none;
}

.footer {
  height: 200px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.social_media_icon {
  max-width: 50px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  width: 2.5%;
  height: auto;
  filter: brightness(1);
  position: absolute;
  top: 0;
  left: 3%;
  float: left;
  z-index: 9999;
}


/*new*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


header {
  background-image: url("./1.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  /*filter: brightness(0.9);*/
  opacity: 0.9;
  background-position: 9% 96%;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
  padding: 30px 30px 0px 0px;
}

nav a {
  color: white;
  padding-left: 20px;
  font-weight: bold;
}

header h1 {
  padding-top: 120px;
  color: white;
  text-align: left;
  padding-left: 70px;
  font-weight: bolder;
}

header p {
  color: white;
  text-align: left;
  padding-top: 10px;
  padding-left: 70px;
  font-weight: 400;
  margin-bottom: 50px;
}

header .cta {
  margin-left: 70px;
  padding-bottom: 200px;
}

@media (max-width: 650px) {

  header nav {
    float: none;
    text-align: center;
    padding-right: 0;
  }

  header nav a:first-child {
    padding-left: 0;
  }

  header h1 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  header p {
    text-align: center;
    padding-left: 0;
  }

  header .cta {
    margin-left: 0;
    text-align: center;
  }

  .btn-lg {
    line-height: .75;
  }
}
.row > .col-lg-12{padding-right: 0; padding-left: 0;}

.portfolio {
  background-color: #eee;
  padding-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}

.portfolio img {
  width: 50%;
  height: auto;
}

.portfolio h1 {
  text-align: center;
  font-size: 30px;
  padding: 60px 0 60px 0;
}

.portfolio h4 {
  text-align: center;
  padding-top: 80px;
}

.portfolio p {
  text-align: center;
  font-weight: 600;
}

.showcase {
  background-color: red;
  opacity: 0.5;
  height: 325px;
}

.img_placeholder1 {
  width: 350px;
  height: 250px;
  background-image: url("./images/project3.png");
  background-size: cover;
  background-position: 48% 20%;
}

.img_placeholder2 {
  width: 350px;
  height: 250px;
  background-image: url("./images/project_4.png");
  background-size: cover;
  background-position: 48% 20%;
}

.img_placeholder3 {
  width: 350px;
  height: 250px;
  background-image: url("./images/project_1.png");
  background-size: cover;
  background-position: 48% 20%;
}

button a {
  color: white;
}

a {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.img-thumbnail {
  margin: 0 auto;
}

.description {
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.description p {
  text-align: center;
  width: 100%;
}

.project_url {
  color: #333;
}
